# Built artifacts
bin
gen
out
app/build
build/

# IDE files
.idea/
*.iml
*.iws
*.ipr
.classpath
.project
.settings/
.DS_Store

# Gradle files
.gradle/
build/
*/build/
local.properties

# Log files
*.log

# Captures
/captures/

# External native build folders
.externalNativeBuild
.cxx

# Others
gradlew
gradlew.bat
gradle/wrapper/gradle-wrapper.jar
